version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: aquila_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aquila
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mongo:
    image: mongo:7
    container_name: aquila_mongo
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: aquila_backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - mongo
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: aquila_frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: aquila_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"

volumes:
  pgdata:
